.Post {
    width: 700px;
    text-align: left;

    padding-bottom: 30px;
    padding-top: 0px;
    margin-bottom: 50px;
    vertical-align: top;
    position: relative;
    background: whitesmoke;
}

.Post .post-titleBar {
    min-height: 65px;
    background: #3c2b68;
    color: white;
}

.Post .post-body-container {
    padding: 25px;
}

.Post p {
    padding: 0px;
    margin: 0px;
}

.Post .post-userImage {
    margin: 10px;
    float: left;
    display: inline-block;
}

.Post .post-username {
    padding-top: 5px;
    padding-left: 80px;
    display: block;
    box-sizing: content-box;
    font-size: 13px;
}

.Post .post-timePassed {
    padding-left: 80px;
}

.Post .post-title {
    padding-top: 5px;
    padding-left: 80px;
    display: block;
    box-sizing: content-box;
    font-size: 25px;
}

.Post .post-title:hover {
    cursor: pointer;
}

.Post .post-likes {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
}

.Post .post-likes img {
    width: 20px;
    margin-left: 10px;
}

.Post .post-body {
    margin-top: 0px;
    max-height: 20px;
    text-overflow: ellipsis;
}

.post-actions {
    margin-top: 20px;
    margin-left: 20px;
}
.post-actions span {
    padding: 6px;
    margin-right: 20px;
    background: lightgray;
}

.Post .tags {
    padding: 10px;
}

.Post .tag {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    background: gray;
    margin-right: 20px;
    font-size: 13px;
}

.Post {}