.Post {
    border-style: solid;
    border-color: deeppink;
    border-radius: 30px;

    width: 700px;
    text-align: left;

    padding: 30px;
    margin-bottom: 50px;
    vertical-align: top;
    position: relative;
    background: whitesmoke;
}

.Post .post-titleBar {
    height: 65px;
}

.Post p {
    padding: 0px;
    margin: 0px;
}

.Post .post-userImage {
    float: left;
    display: inline-block;
}

.Post .post-username {
    padding-top: 5px;
    padding-left: 80px;
    display: block;
    box-sizing: content-box;
    font-size: 13px;
}

.Post .post-timePassed {
    padding-left: 80px;
}

.Post .post-title {
    padding-top: 5px;
    padding-left: 80px;
    display: block;
    box-sizing: content-box;
    font-size: 25px;
}

.Post .post-body {
    margin-top: 30px;
}

.post-actions {
    margin-top: 20px;
}
.post-actions span {
    margin-right: 40px;
    margin-top: 20px;
}
