.HomePage {
    padding: 30px;
    background: ghostwhite;
    overflow-y: hidden;
}

.Navbar {
    position: fixed;
    top: 190px;
    left: 40px;
}

.LiveFeed {
    margin-left: 360px;
    margin-top: 160px;
}

.featured-post {
    position: fixed;
    top: 190px;
    left: 1200px;
}

.featured-post h1 {
    margin-top: 0px;
}

