.HomePage {
    padding: 30px;
    background: ghostwhite;
    overflow-y: hidden;
}

.Navbar {
    position: fixed;
    top: 190px;
    left: 40px;
}

.LiveFeed {
    margin-left: 360px;
    margin-top: 160px;
}

